/*-- scss:defaults --*/


// Colors
$green: #03AE43;
$light-green: #D0E9D9;
$dark-green: #104911;
$gray: #C1C1C1;
$purple: #8F6593;
$black: #000000;


// Base document colors
$navbar-bg: $green;
$navbar-hl: $light-green; 
$footer-bg: $purple; 
$link-color: $green;
$callout-color-important: $purple;

/*-- scss:rules --*/

/* ELEMENT SELECTORS */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
  font-weight: 700;
  color: $black;
}

h3 {
  font-size: 35px;
}

body {
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 19.5px;
  color: $dark-green;
}


.quarto-title > h1.title {
  opacity: 0 !important; // suggested to remove title below logo homepage
  font-size: 2% !important;
}

.navbar-brand {
    background: url(images/WiDS-line1-3.png) center / contain no-repeat;
    height: $navbar-brand-font-size * $line-height-base * 2 !important;
    width: $navbar-brand-font-size * $line-height-base * 10 !important;
}


